body {
    background-image: url(https://www.w3schools.com/images/bg_sky_darker.gif);
}

h1 {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 10px;
    display: flex;
    justify-content: center;
}

.choose-level {
    display: flex;
    justify-content: center;
    column-gap: 60px;
}

.level {
    border: 3px solid rgb(99, 232, 255);
    border-radius: 30px;
    padding: 10px 50px;
    background-image: url(https://www.w3schools.com/images/bg_sky_darker.gif);
    color: rgb(99, 232, 255);
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

.level:hover {
    transition: 0.3s;
    border: 3px solid rgb(221, 250, 255);
    color: rgb(221, 250, 255);
    box-shadow: 0 0 25px 20px rgba(99, 232, 255, 0.4);
}

.ines-style {
    color: rgb(0, 217, 255);
}