/* ALL PAGES COMMON STYLING */

body {
    background-image: url('./imgs/bg_sky_darker.gif');
}

h1 {
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 10px;
    display: flex;
    justify-content: center;
}
